/* Education Item with Timeline */
.education-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  /* Timeline marker */
  &__marker {
    position: absolute;
    left: 0;
    top: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $main-color;
    border: 3px solid lighten($main-color, 40%);
  }

  &__content {
    padding-left: 10px;
  }

  &__school {
    color: #333;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
  }

  &__location {
    color: #888;
    font-size: 12px;
    margin-bottom: 2px;
  }

  &__degree {
    color: #666;
    font-size: 13px;
    margin-bottom: 2px;
  }

  &__date {
    color: $main-color;
    font-size: 12px;
    font-weight: 600;
  }
}

/* ----- RWD ---- */
@include mq('phone-l') {
  .education-item {
    padding-left: 20px;

    &__school {
      font-size: 14px;
    }
  }
}